.ui-datepicker {
    border-radius: 14px;
    border: 0 !important;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.ui-datepicker-header {
    background: transparent;
    border: 0;
}

.ui-datepicker td span, .ui-datepicker td a {
    text-align: center;
    background: transparent !important;
    border: 0 !important;
    padding: 7px;
}