// Placeholder
input::placeholder, .select-placeholder {
    color: $placeholder !important;
    font-weight: 400 !important;
}

// Masseur card hover
.edit-masseur {
    transition: all 0.2s ease-in-out;
    &:hover {
        box-shadow: 0 5px 30px rgba(0,0,0,0.15);
        transform: scale(1.05);
    }
}