// Flex none
.flex-none {
    flex: none;
}

// Change opacity to 100% on hover
.hover-opacity-100 {
    opacity: 0;
    transition: all 0.2s;
    &:hover {
        opacity: 100;
    } 
}

// Placeholder
input::placeholder, .select-placeholder {
    color: $placeholder !important;
    font-weight: 400 !important;
}

// Masseur card hover
.edit-masseur {
    transition: all 0.2s ease-in-out;
    &:hover {
        box-shadow: 0 5px 30px rgba(0,0,0,0.15);
        transform: scale(1.05);
    }
}

// Masseur card expire dot indicator
.dot-indicator {
    width: 14px;
    height: 14px;
}