// Color variables (Override before importing components)
$primary:   #A41404;
$secondary: #E4E5E6;
$warning:    #FDD302;
$dark:      #1d0403;
$light:     #F4EDE0; 
$danger:    #f07979; 
$success:   #50cc93;
$text:      #6D504B; 
$white:     #FFFFFF;

// Body
$body-bg: #FEECDA;
$placeholder: #ADAAA9;

// Typography
$font-family-base: 'Roboto', sans-serif;

// Cards
$card-bg: $white;

// Buttons
$btn-white-space: nowrap;
$btn-font-weight: 500;

// Modals
$modal-inner-padding: 30px;
$modal-content-bg: $white;
$modal-content-border-width: 0;
$modal-header-border-width: 0;
$modal-content-border-radius: 20px;

// Labels
$form-label-color: $dark;
$form-label-margin-bottom: 5px;
$form-label-font-weight: 500;

// Inputs
$input-bg: #fff9f3;
$input-padding-y: 10px;
$input-padding-x: 16px;
$input-font-weight: 400;

// Custom files
@import 'helpers';

// Import Bootstrap
@import '~bootstrap/scss/bootstrap';

