// Color variables (Override before importing components)
$primary:   #A41404;
$secondary: #6C757D;
$yellow:    #FDD302;
$dark:      #1d0403;
$light:     #F4EDE0; 
$danger:    #f07979; 
$success:   #50cc93;
$text:      #6D504B; 
$white:     #FFFFFF;

// Body
$body-bg: #FEECDA;

// Typography
$font-family-base: 'Roboto', sans-serif;

// Cards
$card-bg: $white;

// Modals
$modal-inner-padding: 24px;
$modal-content-bg: $white;
$modal-content-border-width: 0;
$modal-header-border-width: 0;

// Import Bootstrap
@import '~bootstrap/scss/bootstrap';